html {
  scroll-behavior: smooth;
}

body {
  background-color: #e6d8f7;
  color:#a479d5 ;
  padding: 20px;
  font-family: 'Roboto', sans-serif;

}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center; 
}

h1{
  color:#a479d5 ;
  text-align: center;
  font-size: 60px;
  
}  

h2{
  text-align: center;
  font-size: 30px;
}
span,h3{
  color: #ea8bda;
  font-family:'Lora',sans-serif;
}
h4{
  margin-top:0;
}
h3{
  margin-bottom:0;
}
 

ul{
  list-style: none;
}

nav > ul{
  display:flex;
  justify-content: center;
}

li{
  transition: background-color 0.2s ease;
}

li > a {
  margin: 0 15px;
  font-size: 22px;
  color:#a479d5 ;
}

li:hover {
  background-color: pink; 
  color:#a479d5
}



#about, #skills, #projects, #contact{
  margin: 15px;
  border-radius: 25px;
  background-color: #120646;
  padding: 30px;
}

.header-text{
  
  background-color: #120646;
  border-radius: 25px;
  margin: 15px;
}

#bloom{
  width: 5%;
  margin: 0;
}
#about_pic {
  border-radius: 50%; 
  width: 100%;       
  height: 100%;     
  object-fit: cover; 
}
#about_sec{
  display:flex;
  justify-content: space-around;
}
#about_sec >img{
  flex:1;
}
#about_text{
  flex:2;
  font-size:20px;
  padding-left: 20px;
}

#projects{
  justify-content:center;
}
.project_pic{
  width:100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e6d8f7;
  border-radius: 15px;
  padding: 10px; 
}



.project-content{
  display:flex;
  padding: 15px;
  gap: 20px;
}
.left{
  flex:1;
  display:flex;
}
.right {
  flex: 2;
          
  justify-content: center; 
  align-items: center;     
  text-align: center;      
  padding: 20px;           
}


.technologies i , .code , .skills i , #socials i{
  font-size: 40px;  
  color: #a479d5;   
}

.code {
  font-size: 15px;  
  color: #a479d5; 
  text-decoration: none;

}

.code:hover{
  background-color: pink; 
  color:#a479d5
}


.technologies a , .skills a, a {
  text-decoration: none;  
}

.technologies a:hover i , .skills a:hover i , nav > ul > li> a:hover, #socials> a:hover i {
  color:#ea8bda        
}


#skill_sec , #socials{
  display: flex;              
  justify-content: center; 
  align-items: center;
  overflow-x: auto;           
}

.skills {
  display: flex;              
  align-items: center;   
  
}

.skills a, #socials a {
  text-align: center;       
  margin: 10px;                   
  flex: 0 0 auto;             
}


.skills p {
  font-size: 14px;            
  color: #fff;                
  margin: 0;                  
}

footer{
  padding: 3px;
  font-size: 18px;
  text-align: center;
  color: #120646; 
}



